:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
--Pure-white: hsl(0, 0%, 100%);
--Pure-black: hsl(0, 0%, 0%);
font-size: 1.0625rem;
text-align: center;
font-family: 'Bai Jamjuree';
}
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    color: var(--Grayish-Blue);
}
body {
    display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: no-repeat scroll top url(images/bg-header-desktop.png);
}
h1, h2, h3{
    color: var(--Dark-Grayish-Blue);
}
img {
    max-width: 100%;
}
header{
    margin: 4em;
}
article{
    margin: 4em 0;
}
button.content {
    border: none;
    border-bottom: 2px outset;
    margin: .5em;
    color: var(--Pure-white);
    padding: 1em 3em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}
button.blue {
    background-color: var(--Light-Blue);
    box-shadow: 0 .25em 1em var(--Light-Blue);
}
button.cyan {
    background-color: var(--Strong-Cyan);
    box-shadow: 0 .25em 1em var(--Strong-Cyan);
}
button:hover {
    box-shadow: none;
    cursor: pointer;
}
.centralizer {
    max-width: 60vw;
    margin: 4em auto;
}
.flex {
    display: flex;
    flex-flow: row nowrap;

}
.space-between-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0em auto;
}
.space-between-flex section {
    padding: 0 5em;
}
.row-flex {
    display: flex;
    flex-flow: row nowrap;
}
.row-flex section:first-child {
    position: relative;
    right: 4em;
    flex: 1.625;
}
.column-flex {
    display: flex;
    flex-flow: column nowrap;
    /* margin-left: 3em; */
    text-align: left;
    padding: 0 4em;
    flex: 1;
}
button[title] {
    border: none;
    background-color: transparent;
    color: var(--Dark-Grayish-Blue);
    font-size: 1.5em;
    /* padding: ; */

    border-radius: 2em;
  }
  button[title]:hover {
    color: var(--Strong-Cyan);
    cursor: pointer;
  }
  footer a {
    color: inherit;
    text-decoration: none;
  }
  footer a:hover {
    color: var(--Strong-Cyan)
  }
footer {
    background-color: var(--Grayish-Blue);
    color: var(--Pure-black);
    text-align: left;
}
footer ul {
    list-style-type: none;
    display: flex; 
    max-width: 80%;
    justify-content: space-around;
}
footer li {
 padding: 1em;  
 line-height: 2; 
}
footer li img {
    max-height: 3em;
}
footer .logo {
    position: relative;
    left: 10vw;
}
/* .space-between-flex-img{
flex: 20%;
} */
.attribution { font-size: 1em; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    /* responsive design with media query */
@media screen and (max-width: 768px) {
    
    body {
        background: scroll no-repeat  top url(images/bg-header-mobile.png);
    }
    .flex, .space-between-flex, .row-flex, .column-flex, footer ul {
        /* display: flex; */
        flex-flow:column wrap; 
        text-align: center;
        /* align-items: center; */
        max-width: 100%;
        /* background-color: red; */
        padding: 0 0;
    }
    footer li {
        padding: 0;
        line-height: 3;
    }
    .space-between-flex img {
        padding: 1em 0;
    }
    .row-flex section:first-child, .logo img {
        position: initial;
        max-width: 80%;
        margin: 0 auto;
    }
    footer .logo{position: static;}
}